<h2>{{blogpost.title}}</h2>
<h4><em>by: {{blogpost.author}} </em></h4>
<br>
<img src={{blogpost.image}} alt={{blogpost.title}} height=300 width=300>
<br><br>
<p>{{blogpost.content}}</p>
<br>
{{update-blogpost blogpost=blogpost update="update"}}

<br>
<button class="btn btn-danger" {{action 'deletePost' blogpost}}>Delete BlogPost</button>
